<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Todo</title>	
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>
		<!-- a ne pas faire --> <br> 
		<%= yield %>
	</body>
</html>